<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: site-head">
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Actualiza datos Pagos</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div>
    <form action="#" th:action="@{/documentos/registra}" th:object="${pagosEntity}" method="post">
        <table>
            <tr>
                <td>Fecha de corte:</td>
                <td><input type="date" th:field="*{pagoFe}" required/></td>
                <td>
                    <p th:if="${#fields.hasErrors('pagoFe')}" th:errors="*{pagoFe}">Error en fecha</p>
                </td>
            </tr>
            <tr>
                <td>Clave o Matrícula:</td>
                <td><input type="number" min="1" max="2999999999" th:field="*{personalCl}" required/></td>
                <td>
                    <p th:if="${#fields.hasErrors('personalCl')}" th:errors="*{personalCl}">Clave incorrecta</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" th:value="buscarClave" name="buscarClave">Buscar</button>
                </td>
            </tr>
        </table>
        <span th:text="*{personalCl}">personalCl</span><br/>
        <span th:text="*{pagoFe}">pagoFe</span><br/>
        <span th:text="*{personalMNo}">nombre</span><br/>
        <span th:text="*{apePatXx}">paterno</span><br/>
        <span th:text="*{apeMatXx}">materno</span><br/>
        <span th:text="*{rfcXx}">rfc</span><br/>
        <span th:text="*{contableNu}">numero contable</span><br/>
        <input type="text" th:field="*{generaPago}"/><br/>
        <input type="text" th:field="*{tieneRfc}"/><br/>
        <input type="text" th:field="*{tieneHorarios}"/><br/>
        <input type="text" th:field="*{tieneRetencion}"/><br/>
        <input type="text" th:field="*{pagoProcesado}"/><br/>
        <p><textarea th:field="*{observaciones}" placeholder="Observaciones"></textarea></p><br/>
        <button type="submit" th:value = "actualizaDatos" name="actualizaDatos">Actualiza Datos</button>
    </form>
</div>
<footer th:replace="layout :: site-footer"/>
</body>
</html>
